---
layout: wall
---

<div class="left-column">
  <div id="schedule" class="schedule container-v">
    <div class="info-wall-item schedule-item" date-time="0830">
      <h4 class="item-time">08:30</h4>
      <h2 class="item-title">Arrival, Registration, Coffee and Breakfast</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="0930">
      <h4 class="item-time">09:30</h4>
      <h2 class="item-title">Opening Remarks</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="0945">
      <h4 class="item-time">09:45</h4>
      <h3 class="speaker-name">Jed Schmidt</h3>
      <h2 class="item-title">Intro</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1000">
      <h4 class="item-time">10:00</h4>
      <h3 class="speaker-name">Mathias Bynens</h3>
      <h2 class="item-title">3.14 things I didn't know about CSS</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1035">
      <h4 class="item-time">10:35</h4>
      <h3 class="speaker-name">Sara Soueidan</h3>
      <h2 class="item-title">Styling and Animating Scalable Vector Graphics with CSS</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1110">
      <h4 class="item-time">11:10</h4>
      <h2 class="item-title">Coffee Break</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1125">
      <h4 class="item-time">11:25</h4>
      <h3 class="speaker-name">Stoyan Stefanov</h3>
      <h2 class="item-title">Lessons learned from building a CSS minifier</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1200">
      <h4 class="item-time">12:00</h4>
      <h3 class="speaker-name">Rachel Andrew</h3>
      <h2 class="item-title">CSS Grid Layout</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1235">
      <h4 class="item-time">12:35</h4>
      <h3 class="speaker-name">John Brown</h3>
      <h2 class="item-title">A CSS Dive Through Google's Powers of Tech</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1310">
      <h4 class="item-time">13:10</h4>
      <h2 class="item-title">Lunch</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1400">
      <h4 class="item-time">14:00</h4>
      <h3 class="speaker-name">Jina Bolton</h3>
      <h2 class="item-title">Living Design Systems</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1435">
      <h4 class="item-time">14:35</h4>
      <h3 class="speaker-name">Nicole Sullivan</h3>
      <h2 class="item-title">Obnoxiously slow end points</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1510">
      <h4 class="item-time">15:10</h4>
      <h2 class="item-title">Coffee Break</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1525">
      <h4 class="item-time">15:25</h4>
      <h3 class="speaker-name">Patrick Hamann</h3>
      <h2 class="item-title">CSS and the critical path</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1600">
      <h4 class="item-time">16:00</h4>
      <h3 class="speaker-name">Addy Osmani</h3>
      <h2 class="item-title">CSS Performance Tooling</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1630">
      <h4 class="item-time">16:30</h4>
      <h2 class="item-title">Longer Coffee Break With Snacks</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1715">
      <h4 class="item-time">17:15</h4>
      <h3 class="speaker-name">Bram Stein</h3>
      <h2 class="item-title">The State of Web Typography</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1750">
      <h4 class="item-time">17:50</h4>
      <h3 class="speaker-name">Karolina Szczur</h3>
      <h2 class="item-title">Validate Me</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1825">
      <h4 class="item-time">18:25</h4>
      <h2 class="item-title">Closing Remarks</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1835">
      <h4 class="item-time">18:35</h4>
      <h2 class="item-title">Family Photo</h2>
    </div>
    <div class="info-wall-item schedule-item" date-time="1930">
      <h4 class="item-time">19:30</h4>
      <h2 class="item-title">CSSConf EU Party</h2>
      <div class="item-content">
        Have dinner and drinks with us at Universal Osthafen
      </div>
    </div>
  </div>

  <div class="attendees container-v">
    <div class="info-wall-item">
    </div>
  </div>
</div>

<div class="right-column">
  <div id="twitterwall" class="twitterwall">
    Tweet us – @cssconfeu

    <a height="900" class="twitter-timeline" data-chrome="noheader nofooter" data-dnt="true" href="https://twitter.com/search?q=%23cssconfeu+OR+cssconfeu" data-widget-id="378407149132464128">Tweets about "#cssconfeu OR cssconfeu"</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>

<script type="text/template" id="attendee-template">
  <div class="attendee-greeting">
    <img class="attendee-photo" src="<%= gravatar %>">
    <h3><%= greeting %></h3>
  </div>
</script>

<script src="app/js/jquery.min.js"></script>
<script src="app/js/underscore.js"></script>
<script src="app/js/gravatar.js"></script>
<script src="app/js/schedule.js"></script>
<script src="app/js/checkins.js"></script>
